@mixin color-letras {
    color: #fff;
}

@mixin color-fondoNg {
    background-color: rgba(0, 0, 0, 0.922);
}

@mixin color-boton {
    background-color: rgb(230, 32, 206);
}

%display {
    display: flex;
}

%boton {
    border-radius: 15px;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
    font-size: 0.9rem;

    &:hover {
        background-color: rgba(230, 88, 235, 0.7);
    }
}

footer {
    padding: 20px;
    @include color-letras;
    text-align: center;
    @include color-fondoNg;

    .redes-sociales {
        ul {
            @extend %display;
            justify-content: left;
            gap: 15px;
            list-style: none;
            margin-bottom: 15px;
        }

        a {
            @include color-letras;
            font-size: 1.5rem;
            transition: color 0.3s ease;
            list-style: none;

            &:hover {
                @include color-letras;
            }
        }
    }

    .lista {
        @extend %display;
        justify-content: center;
        gap: 40px;
        margin-bottom: 15px;

        ul {
            list-style: none;
        }

        a {
            @include color-letras;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .suscripcion {
        margin-bottom: 15px;
    }

    input[type="email"] {
        border-radius: 5px;
        border: 1px solid rgba(230, 88, 235, 0.7);
        padding: 10px;
        width: 200px;
        font-size: 0.9rem;
    }

    button {
        @extend %boton;
        @include color-boton;
        @include color-letras;
    }
}