.Grid {
    display: flex;
    gap: 15px;
    justify-items: center;
    padding: 5px;

    .set {
        width: 100%;
        height: auto;
        max-width: 250px;
        border-radius: 5%;
        object-fit: cover;
        margin: 15px;
        padding: 8px;
        transition: transform 0.3s ease, box-shadow 0.3s ease;

        &:hover {
            transform: scale(1.1);
            opacity: 0.9;
            box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
        }
    }
}